* {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: bisque;
}

#create-account-form {
    border: 3px rgb(116, 186, 206, 0.5) solid;
    border-radius: 15px;
    text-align:center;
    height: 100%;
    width: 300px;
    padding: 20px 20px;
    background-color: white;
}

#create-account-form p:first-child {
    font-size: 30px;
    font-weight: bold;
    height: 100px;
}


#id {
    width:250px;
    height:25px;
    margin-bottom: 5px;
}

#pw {
    width:250px;
    height:25px;
    margin-bottom: 20px;
}
#create-account-form input {
    width: 250x;
    height: 35px;
    padding-left: 15px;
    background-color: rgb(227, 233, 182);
    border-radius: 15px;
    border-style: none;
}

#create-account-form button {
    width:100px;
    height: 40px;
    border-radius: 20px;
    border-style: none;
}
#create-account-form button:hover {
    background-color: aquamarine;
    transform: 1s;
    cursor: pointer;
}
#create-account-form button:active {
    background-color: antiquewhite;
    transition: ease-in-out .8s;
}

#notAcceptId {
    font-size: 12px;
    font-weight: 30px;
    text-align: center;
    color: red;
}