* {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: black;
}
body {
    background: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#infoContainer {
    text-align: right;

}
#mainContainer {
    display: inline-block;
    position: relative;
    width: 800px;
    height: 400px;
    border: 1px gray solid;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px #999;
}

#sign-in-container {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left:0;
    width: 400px;
    height: 400px;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: white;
}
#inputText {
    position: relative;
    height: 300px;
}
#inputText span {
    font-size: 30px;
    font-weight: bold;
    line-height: 150px;
}
#inputText button {
    width: 100px;
    height: 40px;
    font-weight: bold;
    border-style: none;
    border-radius: 30px;
}
#inputText button:hover {
    color: white;
    background-color: darkslateblue;
    transition: 0.5s;
    

}
#inputID {
    width: 250px;
    height: 30px;
    font-size: 15px;
    padding-left: 10px;
    border-style: none;
    border-radius: 30px;
    background-color: rgb(222,222,222);
}

#inputPW {
    width: 250px;
    height: 30px;
    font-size: 15px;
    padding-left: 10px;
    border-style: none;
    border-radius: 30px;
    background-color: rgb(222,222,222);
}

#sign-up-container {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: 0;
    width: 400px;
    height: 400px;
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #FFCCFF;
}

#sign-up-container p {
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}


#sign-up-container button {
    width: 100px;
    height: 40px;
    font-weight: bold;
    border-style: none;
    border-radius: 30px;
}
#sign-up-container button:hover {
    color: darkgreen;
    background-color: blanchedalmond;
    transition: 0.5s;
}
#quoteBox {
    text-align: center;
}
#quoteBox p:first-child {
    font-size: 12px;
    font-weight: bold;
}
#quoteBox p:last-child {
    font-size: 11px;
    font-weight: bold;
    opacity: 0.9;
}
